{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form group">
            <legend class="border-botom mb-4"><h1>To Do List</h1>
                {{form|crispy}}
            </legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Add 
                </button>
            </div>

        </form>
    </div>
{% endblock content %}